name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cpus: [1, 2, 4, 8] # Set the number of CPUs you want to use
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run a one-line script
        run: echo "Using ${{ matrix.cpus }} CPUs"
        
